@font-face {
  font-family: "iconfont"; /* Project id 3174151 */
  src: url('iconfont.woff2?t=1644397987499') format('woff2'),
       url('iconfont.woff?t=1644397987499') format('woff'),
       url('iconfont.ttf?t=1644397987499') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-7tiantuihuanhuo:before {
  content: "\e603";
}

.icon-weixiubanshou:before {
  content: "\e715";
}

.icon-kefufenxiermaikefu:before {
  content: "\e889";
}

.icon-huidingbu:before {
  content: "\e66c";
}

.icon-lihe:before {
  content: "\e638";
}

.icon-shop-cart:before {
  content: "\e613";
}

.icon-ren:before {
  content: "\e6c5";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-position:before {
  content: "\e60b";
}

.icon-tian:before {
  content: "\e601";
}

